{% extends 'base.html' %}
{% block title %}
korot haim
{% endblock %}
{% block plot%}
         <div id="GridContainer">
            <div id="left">
                <center>
                    <h1> SHANI FREIMAN </h1>
                    <h2> Industrial Engineering and
                        Management Student </h2>
                </center>
                <td>
                <h3> Contact</h3>
                <p> Phone: 0525357645 </p>
                <p> E-Mail: shanifreiman@gmail.com </p>
                <p> Linkedin: linkdin.com/in/shani freiman </p>
                <p> Tel Aviv</p>
                </td>
                <h3> Languages</h3>
                <p>Hebrew – Native Speaker</p>
                <p>English – Highly Proficient</p>
                <p>spanish – Good Working Knowledge</p>
                <h3> Skill Highlights</h3>
                <p>    •	Excel</p>
                <p>    •	SQL</p>
                <p>    •	Java</p>
                <p>    •	Power BI</p>
                <p>    •	R-Studio</p>
                <p>    •	Microsoft Office</p>
            </div>
             <div id="main">
                 <div id="sum">
                     <h3> Summary</h3>
                     <p id="summary">I'm a senior year student studying Industrial Engineering and Management. I'm highly motivated with great interpersonal skills and tech orientated. Skilled in both self-learning and teamwork, time management, and leadership. An analytic person who always thrives to the best possible results. Looking for an interesting and challenging data-oriented, part-time job. </p>
                 </div>
                 <hr>
                 <div id="edu">
                     <h3> Eduction</h3>
                     <h4> BSc Industrial Engineering and Management | 4th Year </h4>
                     <p> Ben-Gurion University of The Negev – Be'er Sheva </p>
                     <p> •	Minoring in Information Systems. </p>
                 </div>
                 <hr>
                 <div id="pp">
                     <h3>Personal Projects</h3>
                     <p>•	Industry Business Model Implementation – Developing full cycle of working database and demonstrating its usage with SQL. Implementing practical methods with tools and techniques from the industry using Microsoft Power BI.
                     </p>
                     <p>•	Java Projects – Programming object-oriented interactive games, including redemption and different packages and graphics.
                     </p>
                     <p> •	Operation of automation systems – Programming management and control of an aircraft, controlling the navigation, operation of equipment and running additional operations on the plane. In addition, robot programming to move trajectory quickly and accurately using sensors.
                     </p>
                 </div>
                 <hr>
                 <div id="idf">
                     <h3> IDF Service</h3>
                     <h4>Look Out & Commander</h4>
                     <h4> Field Intelligence Corps | 2013-2015</h4>
                     <p>•	Jerusalem Observatory Headquarters - Release with the rank of sergeant.</p>
                     <p>•	Managing multiple emergencies in the sector simultaneously and making decisions in real time.</p>
                     <p>•	Worked on multiple tasks simultaneously under pressure and tight schedule.</p>
                     <p>•	Responsible for professional training for the observatory staff.  </p>
                 </div>
                 <hr>
                 <div id="exper">
                    <h3> Experience</h3>
                     <h4>Project manager officer at KAMADA | april 2021 - Present</h4>
                     <p>•	Responsible for managing and executing Business Continuity Program. Formulation of work plans and their examination.
                         -Works in collaboration with the company's VPs. Uses SQL to streamline processes. </p>
                     <p>•	Organized the staff shifts and ensured streamlined processes. </p>
                    <h4> Bartender at 'ArtStreet' </h4>
                     <p> •	Maintained strict hospitality, appearance, and service ethics. </p>
                 </div>
             </div>
         </div>
{% endblock %}